{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        {% if profile.image %}
          <img src="{{profile.image.url}}" class="img-fluid rounded-start" alt="...">
        {% else %}
          <img src="{% static 'default.webp' %}" class="img-fluid rounded-start" alt="...">
        {% endif %}
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="card-text"><strong>{{profile.user.username}}</strong></p>
          <p class="card-text"><small class="text-body-secondary"><strong>{{profile.bio}}</strong></small></p>
          <p class="card-text"><small class="text-body-secondary"><strong>{{profile.birthdate}}</strong></small></p>
          <p class="card-text"><small class="text-body-secondary"><strong>{{profile.user.songs.count}} songs!</strong></small></p>
        </div>
      </div>
    </div>
  </div>

<!--UPDATE PROFILE-->
{% if profile.user == request.user %}
  <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
    <h1>UPDATE PROFILE!</h1>
    <div class="card">
        <div class="card card-body">
            <form action="" method='POST' enctype='multipart/form-data'>
                {% csrf_token %}                
                {{form.as_p}}
                <button class='btn btn-primary' type="submit">UPDATE</button>
            </form>
        </div>
    </div> 
  </div> 
{% else %}
  <a class='btn btn-info' href="{% url 'reels' %}">Back</a>
{% endif %}
  
{% endblock %}






