{% extends 'base.html' %}

{% block content %}
    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
        <div class="card card-body bg-light">
            <h1 class="text-success">CONTACT ME!</h1>
            <div class="table-responsive">
                <table class="table-striped">
                    <thead>
                        <tr>
                            <th class="text-primary p-2" >Facebook</th>
                            <th class="text-danger p-2" >Instagram</th>
                            <th class="text-rimary p-2">Git Hub</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a class="btn btn-primary mt-2" href="https://www.facebook.com/profile.php?id=100078944842160" target='__blank'>GO!</a></td>
                            <td><a class="btn btn-danger mt-2" href="https://www.instagram.com/jsteven_c10/" target='__blank'>GO!</a></td>
                            <td><a class="btn btn-dark mt-2" href="https://github.com/JStevenC10" target='__blank'>GO!</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}